body {
    background-color: #c17900;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    box-shadow: 2px 13px 34px -7px rgba(0,0,0,0.75);
    background-color: #f9a825;    
    padding: 2%;
    margin: auto;
    width: 80vw;
}

.main-header {
    font-size: 400%;
    text-align: center;
}

.filter-field {
    display: inline-block;
    width: 20%;
}

input[type=text] {
    color: black;
    background-color: #ffad42;
    border: none;
    padding: 5%;
    border-bottom: 2px solid #f57c00;
    transition: 0.3s;
}

input[type=text]:focus {
    background-color: #f57c00;
}

.search-button-wrapper {
    display: inline-block;
    margin-bottom: 2%;
}

.search-button {
    border: none;
    color: black;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 130%;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #ffad42;
    transition: 0.3s;
    box-shadow: 2px 13px 24px -10px rgba(0,0,0,0.75);
}

.search-button:hover {
    background-color: #f57c00;
}

.search-button:active {
    box-shadow: none;
}

.products, .sub-header {
    background-color: #ffd95a;
    padding: 2%;
    box-shadow: 2px 13px 24px -10px rgba(0,0,0,0.75);
}

.product-card {
    display: inline-block;
    background-color: #f57c00;
    padding: 1%;
    margin: 1%;
    box-shadow: 2px 13px 24px -10px rgba(0,0,0,0.75);
    transition: 0.3s;
}

.product-card:hover, .order:hover {
    box-shadow: 2px 13px 24px 2px rgba(0,0,0,0.75);
}

.product-buttons {
    padding: 1%;
}

.product-button {
    min-width: 50px;
    min-height: 50px;
    border: none;
    color: black;
    margin: 2%;
    cursor: pointer;
    transition: 0.3s;
    padding: 4% 4%;
    box-shadow: 2px 13px 24px -10px rgba(0,0,0,0.75);
    border-radius: 100%;
}

.update-button {
    background-color: #ffad42;
}

.update-button:hover {
    background-color: #f57c00;
}

.delete-button {
    background-color: #bb0010;
}

.delete-button:hover {
    background-color: #e00013;
}

.img-paragraph {
    display: inline-block;
}

.card-title-info, .card-detailed-info, .card-price-info, .address, .personal-info {
    box-shadow: 2px 13px 24px -10px rgba(0,0,0,0.75);
    background-color: #ffad42;
    padding: 1%;
    margin: 1%;
}

.order {
    background-color: #ffd95a;
    padding: 2%;
    box-shadow: 2px 13px 34px -7px rgba(0,0,0,0.75);
    margin-bottom: 2%;
    transition: 0.3s;
}

th, td {
    border-bottom: 1px solid rgb(0, 0, 0);
}

table {
    margin: 1%;
}

.footer {
    box-shadow: 2px 13px 34px -7px rgba(0,0,0,0.75);
    background-color: #f9a825;    
    padding: 2%;
    margin: auto;
    margin-top: 5%;
    width: 80vw;
}